.chart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
    margin-left: 10px;
}
.charts{
    border-radius:5px 5px 5px 5px;
    border: none;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
   
  
    
}

.btnitems{
    width: 10%;
    gap: 5%;
background-color: rgb(171, 101, 236);
border-radius:15px 15px 15px 15px ;
border: none;

bottom: 0;
display: flex;
}
.btnitems :hover{
    background-color: rgb(219, 166, 68);
}

.acbtn{
    width: 80%;
    margin-top: 200px;
    background-color: rgb(29, 187, 240);
    border-radius:150px 150px 150px 150px;
    border: none;
    position: absolute;
    bottom: 0;
}

.acbtn :hover{
    background-color: orange;
}
